.noteCard {
  &__fullImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.015em;
    font-size: 14px;
    line-height: 19px;

    > img {
      width: 100%;
      aspect-ratio: 2/1.07;
      object-fit: cover;
      border-radius: 8px;
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &Description {
      min-height: 20px;
      width: calc(100% - 32px);
      padding: 8px 16px 16px 16px;

      &_overflow {
        margin-bottom: 10px;
      }
    }
  }

  &_edit {
    margin: 1px;
    margin-top: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    color: #666;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border-radius: 26px;
    font-size: 14px;
    line-height: 19px;
    background-color: #fff;
    width: 100%;

    > img {
      width: 100%;
      border: 1px solid #fff;
      border-top-right-radius: 26px;
      border-top-left-radius: 26px;
    }

    &__description {
      padding: 8px 16px 16px 16px;
      width: calc(100% - 32px);
      height: 1%;

      &_bottom {
        padding: 12px 16px 8px 16px;
      }
    }
  }

  &__fullImage_bottom {
    display: flex;
    flex-direction: column-reverse;

    &Description {
      padding: 16px 16px 8px 16px;
    }

    > img {
      border-radius: 8px;
      margin-bottom: -2.5px;
    }
  }

  &__fullImageBottom_edit {
    margin-top: 1px;
    margin-bottom: 3px;

    > img {
      border-bottom-right-radius: 26px;
      border-bottom-left-radius: 26px;
    }
  }
}
