.noteCard {
  line-height: 19px;
  padding: 24px;
  color: #3b4552;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  font-family: "Urbanist", sans-serif;

  &_overflow {
    margin-bottom: 19px;
  }

  &_textTop {
    padding: 16px;
  }

  &__inputContainer {
    width: calc(100% - 2px);
    min-height: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &_edit {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    color: #666;

    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 16px 15px;
    width: 100%;
    height: calc(100% - 2px);
    min-height: 72px;
    border-radius: 26px;
    resize: none;
    line-height: 19px;
    background-color: #fff;
    margin-bottom: 4px;
  }
}
