.noteCard {
  position: relative;
  max-width: 345px;
  font-family: Urbanist;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0px;
  vertical-align: middle;

  &_edit {
    margin-top: 50px;
  }
}
