.settings {
  border: none;
  cursor: pointer;

  height: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 10%;
  top: 9px;
  right: 18.5px;

  &Button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    color: #b4b4b4;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    border-radius: 12px;
    z-index: 1;

    &_image {
      margin-top: 24px;
      margin-right: -2px;
      background-color: rgba(133, 133, 133, 0.3);
      width: 28px;
      height: 26px;
      color: #fff;
    }
  }
}
