.counter {
  position: absolute;
  bottom: 10px;
  right: 14px;
  background: transparent;
  font-size: 12px;
  color: #b4b4b4;
  font-weight: 400;
  line-height: 1;
  border-radius: 16px;
  padding: 4px 9.5px;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2px;
  font-family: Urbanist;
  font-style: normal;
  line-height: normal;

  z-index: 1;
  border: 1px solid #b4b4b4;

  &_newPosts {
    background: linear-gradient(90deg, #068dfb 0%, #3fccff 110%);
    color: #fff;
    border: none;
    padding: 4px 6.5px;
  }

  &_image {
    margin-bottom: -3px;
    margin-right: -2px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: none;
    color: #fff;
  }
}
