.noteCard {
  &__leftImage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 19px;
    margin-top: -3px;
    background-color: #fff;
    padding: 16px;

    > img {
      width: 56px;
      height: 56px;
      min-width: 56px;
      min-height: 56px;
      border-radius: 14px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      object-fit: cover;
    }

    &Description {
      &_overflow {
        padding-bottom: 20px;
      }
    }
  }

  &_edit {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #666;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 16px 15px;
    width: 100%;
    height: calc(100% - 2px);
    min-height: 72px;
    border-radius: 26px;
    resize: none;
    font-size: 14px;
    line-height: 19px;
    background-color: #fff;
  }

  &__leftImage_imageTop {
    align-items: flex-start;
  }
}

.counter {
  position: absolute;
  bottom: 10px;
  right: 16px;
  background: rgba(211, 211, 211, 0.027);
  font-size: 12px;
  color: #666;
  font-weight: 400;
  line-height: 1;
  border-radius: 16px;
  padding: 5.6px 10px;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 1px solid rgba(187, 187, 187, 0.363);

  &_newPosts {
    background: linear-gradient(90deg, #068dfb 0%, #3fccff 110%);
    color: #fff;
    border: none;
  }
}
